<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chats</title>
</head>
<body>
<!--    Navigation bar-->
    <nav></nav>
    <div id="main-section">
<!--        Room selection-->
        <nav id="sidebar">
            <h4>ROOMS</h4>
            <div id="rooms__list">
                {% for room in rooms %}
                    <p class="select-room">{{ room }}</p>
                {% endfor %}
            </div>
        </nav>

        <div style="display: flex; flex-direction: row; justify-content: space-between">
            <div id="rightside-panel" style="width: 50%; background: aqua">
                <div id="display-message-section">

                </div>
                <div id="input-area" style="display: flex; flex-direction: column">
                    <input type="text" id="user_message" placeholder="Type here..." autocomplete="off">
                    <button type="button" id="send_message">Send</button>
                </div>
            </div>
            <div id="leftside-panel" style="width: 50%; background: aquamarine">
                <div id="input-area" style="display: flex; flex-direction: column">
                    <input type="text" id="room_name" placeholder="Room name" autocomplete="off">
                    <input type="text" id="user_id_1" placeholder="User id 1" autocomplete="off">
                    <input type="text" id="user_id_2" placeholder="User id 2" autocomplete="off">
                    <button type="button" id="create_room">Create</button>
                    <button type="button" id="edit_room">Change</button>
                </div>
            </div>
        </div>
    </div>

<!--    Get username-->
    <script type="text/javascript">
        const username = `{{ username }}`;
    </script>
<script>
    window.onbeforeunload = function (e) {
        fetch('destroy-session',
            {
                method: 'PATCH'
            }
        )
          .then(response => response.json())
          .then(data => console.log(data));
        return undefined;
    }
</script>
<!--    SocketIO JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

<!--    Custom JS-->
    <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>
</body>
</html>